.page {
    height: 100%;
    background-color: black;
}

.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

}

@keyframes breathe-up-down {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    50% {
      transform: translateY(5%);
      opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.title-container {
    width: 100%;
    -webkit-text-stroke: 1px white;
    /* Adding font size pushes game-wrapper beyound page height */
    font-size: 1.5rem;
    text-shadow: 3px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    /* line-height: 1; */
    animation: 
        breathe-up-down 2s ease-in-out infinite 1s; /* infinite after 1s delay */
}

.game {
    height: 90vh;
}