.game-wrapper {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;

    margin: 0 auto; /* center horizontally */
    padding: 0 0;
    gap: 0vw; /* Controls spacing between the two grids */
}

@media (max-width: 768px) {
    /* Styles for mobile */
    .game-wrapper {
      flex-direction: column;
    }

    .target-grid-container,
    .player-grid-container {
    }

    .player-grid-container {
        order: 2;
    }
}

.target-grid-container {
    flex: 1;
    padding: 1rem;
    display: grid;
    place-items: center;
}

.player-grid-container {
    flex: 2;
    padding: 2rem;
    display: grid;
    place-items: center;
    
    /* Allow react swipeable to handle touch */
    touch-action: none;
}

.game-target-grid {
    max-width: min(30vw, 60%) !important;
}

.timer {
    display: flex; /* makes timer a flex container for more pwrful layout of child elems */
    flex-direction: column; /* For vertical stacking, row is default */
    align-items: center; /* Horizontal centering based on flex container */
    /* transform: translateX(300px);  Shifts the timer container ri the right and doesnt affect the elems nearby */
}

.timerHeader {
    margin-left: 300px;
}