.game-wrapper {
    width: 100vw;
    height: 90vh;
    /* Allow react swipeable to handle touch */
    touch-action: none;
    display: flex;
    flex-direction: row;

    margin: 0 auto; /* center horizontally */
    padding: 0 0;
    gap: 0vw; /* Controls spacing between the two grids */
}

@media (max-width: 768px) {
    /* Styles for mobile */
    .game-wrapper {
      flex-direction: column;
    }

    .target-grid-container,
    .player-grid-container {
    }

    .player-grid-container {
        order: 2;
    }
}

.target-grid-container {
    flex: 1;
    padding: 5rem;
    display: grid;
    place-items: center;
}

.player-grid-container {
    flex: 2;
    padding: 2rem;
    display: grid;
    place-items: center;
}