.game-wrapper {
    /* width: 100%; */
    max-width: 450px;
    margin: 0 auto; /* center horizontally */
    /* height: 100%; */
    background-color: black;

    margin: 0 auto; /* center horizontally */
    gap: 0vw; /* Controls spacing between the two grids */
}

@media (max-width: 768px) {
    /* Styles for mobile */
}

.target-grid-container {
    /* padding: 1rem; */
    /* gap: 2rem; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem
}

.tg-spacer-left {
    flex: 1;
}

.target-grid {
    flex-shrink: 0;
    max-width: 30% !important;
}

.tg-spacer-right {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.player-grid-container {
    /* Need margin, not padding! Padding overflows container height */
    margin: 1rem; 
    color: aliceblue;
    background-color: black;
    /* height: 70%; */
    
    /* Allow react swipeable to handle touch */
    touch-action: none;
}

.player-grid {
    border-style: solid;
    border-color: white;
    padding: 5px;
    border-width: 3px;
    max-width: 100% !important;
    /* max-width: 100%; */
    /* max-height: 100%; */
    box-sizing: border-box;
    margin: 0 auto;
}


.button-container {
    display: flex;
    gap: 1rem;
}

.hud {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.win-container {
    color: white;
}
