/* Overlay */
.overlay-grid {
    /* Identical to main grid except positioning */
    display: grid;
    position: absolute;
    top: 0; left: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 150);
    aspect-ratio: 1;
    background: transparent;

    /* Pass through to main grid */
    pointer-events: none;
}

/*
Below are for animation
keyframes are a class in CSS that allow for
certain frames to look like the way we want
based on the .gird-overlay we made
CSS interpolates between keyframses.
 */
@keyframes pulseGlow {
    0% { box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2); }
    50% { box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5); }
    100% { box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.2); }
}

.glow-overlay {
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
    animation: pulseGlow 2.5s ease-in-out infinite;
    z-index: 0;
}
